<div class="container-fluid p-3">

  <div class="row">

    <div class="d-flex justify-content-center">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="card font-mon">
          <div class="card-header" id="top">
            Choisissez le type de simulation
          </div>
          <div class="card-body">
            <div class="form-check" *ngFor="let caracteristique of caracteristiques">
              <input class="form-check-input" type="radio" name="caracteristique" id="caracteristique" formControlName="caracteristique"  [value]="caracteristique"/>
              <label class="form-check-label">{{caracteristique}}</label>

            </div>
          </div>
        </div>
        <div class="card font-mon">
          <div class="card-header" id="top">
            Saisissez les caractéristiques de votre dépot
          </div>
          <div class="card-body">
            <div class="form-group" class="row mb-3">

              <label for="nbrPlis" class="col-sm-6 col-form-label" >Nombre de plis</label>


              <div class="col-sm-6">
                <input type="text" class="form-control" id="nbrPlis" formControlName="nbrPlis"
                       name="nbrPlis" placeholder="Min 1000">
              </div>

            </div>
            <div class="form-group" class="row mb-3">
              <label for="poidsObj" class="col-sm-6 col-form-label" >Poids de l'objet (en grammes)</label>
              <div class="col-sm-6">
                <input type="poidsObj" class="form-control" id="poidsObj" placeholder="Max {{poidsMax}}"
                       formControlName="poidsObj" name="poidsObj"
                >
              </div>
            </div>
            <div  class="form-group" class="row mb-3" >
              <label for="format" class="col-sm-6 col-form-label" >Format
                <a class="example-popover"  role="button" [ngbPopover]="popContent" 	placement="top"
                ><i class="fa fa-info-circle" aria-hidden="true"  ></i></a>

              </label>
              <div class="col-sm-6">
                <select formControlName="format" class="form-select"  >

                  <option value= "null" disabled= "true" [selected]= "true">--Veuillez choisir une option--</option>

                  <option *ngFor="let format of formats" [ngValue]="format">
                    {{ format }}
                  </option>
                </select>
              </div>
              <ng-template #popContent>
                <div class="newPopperContent">
                  <p>Pour en savoir plus sur les formats, nedlkj
                    <a  class="text-black popUp" (click)="openHelpFormatModal()" >
                      <strong> Guide Pratique Destineo Premium</strong>
                    </a>
                  </p>
                </div>
                
              </ng-template>
              <!-- <div hidden >
                <div id="mypopover-content" >
                  <p>Pour en savoir plus sur les formats, consulter le
                    <a  class="text-black popUp" (click)="openHelpFormatModal()" >
                      <strong> Guide Pratique Destineo Premium</strong>
                    </a>
                  </p>

                </div>
              </div> -->
              <!-- <button
              type="button"
              class="btn btn-outline-secondary"
              [ngbPopover]="popContent" 
            >
              Customized popper options
            </button> -->
            </div>
          </div>
        </div>





      </form>
    </div>
  </div>
</div>



<div class="modal fade font-mon" id="helpFormat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="m-auto">Description des formats</h5>
        <div class="justify-content-end">
          <i data-dismiss="modal" aria-label="Close" class="fa fa-close" (click)="closeHelpFormatModal()"></i>
        </div>
      </div>
      <div class="modal-body">
        <p class="lead">
          Pour en savoir plus, consultez <a href="https://www.espacetechniqueetqualite.laposte.fr/">le guide pratique
          du courrier sur l’Espace Technique et Qualité </a>
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col" colspan="2"></th>
              <th scope="col" class="text-center">Petit Format</th>
              <th scope="col" class="text-center">Grand Format</th>
              <th scope="col" colspan="4" class="text-center">Autre Format</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" colspan="2">Poids</th>
              <td scope="col" class="text-center">0 à 50g</td>
              <td scope="col" class="text-center">0 à 750g</td>
              <td scope="col" class="text-center">0 à 350g</td>
              <td scope="col" class="text-center">351g à 3000g</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">Dimensions</th>
              <td scope="col">
                <ul>
                  <h6>Tout envoi rectangulaire :</h6>
                  <li>minimum : 90 x 140 mm.</li>
                  <li>maximum : 176 x 250 mm.</li>
                </ul>
                <ul>
                  <h6>Tout envoi carré :</h6>
                  <li>minimum : 140 x 140 mm.</li>
                  <li>maximum : 176 x 176 mm.</li>
                </ul>
              </td>
              <td scope="col">
                <ul>
                  <h6>Tout envoi rectangulaire :</h6>
                  <li>minimum : 90 x 140 mm.</li>
                  <li>maximum : 260 x 360 mm.</li>
                </ul>
                <ul>
                  <h6>Tout envoi carré :</h6>
                  <li>minimum : 140 x 140 mm.</li>
                  <li>maximum : 260 x 260 mm.</li>
                </ul>
              </td>
              <td scope="col">
                <ul>
                  <h6>Tout envoi rectangulaire :</h6>
                  <li>minimum : 90 x 140 mm.</li>
                  <li>maximum : 260 x 360 mm.</li>
                </ul>
                <ul>
                  <h6>Tout envoi carré :</h6>
                  <li>minimum : 140 x 140 mm.</li>
                  <li>maximum : 260 x 260 mm.</li>
                </ul>
              </td>
              <td scope="col">
                <ul>
                  <h6>Tout envoi :</h6>
                  <li>minimum : 90 x 140 mm.</li>
                  <li>maximum : ( longueur + largeur + hauteur) = 100 cm.</li>
                  <li>la plus grande dimension ne doit pas dépasser 60 cm</li>
                </ul>
                <ul>
                  <h6>Tout envoi carré :</h6>
                  <li>minimum : 140 x 140 mm.</li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>

        </div>


      </div>

    </div>
  </div>
</div>
